[Unit]
Description=Update SpamAssassin rules and compile them
After=network.target

[Service]
ExecStart=/usr/bin/vendor_perl/sa-update --verbose
ExecStart=/usr/bin/vendor_perl/sa-compile
ExecStart=!/usr/bin/systemctl --quiet --no-block try-restart spamassassin.service
Group=spamd
SuccessExitStatus=1
Type=oneshot
UMask=0022
User=spamd
